/*MENU BAR*/

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.header {
    padding-bottom: 50px;
}

ul {
    padding: 0px;
    margin: 0px;

}
li {
    display: inline;
    position: relative;
    border:1px solid black;
}

.nav {
    display: block;
    width: 100%;
    padding:15px;
    text-align: center;
    list-style: none;
    position: fixed;
}

.nav li {
    display: inline;
    position:relative;
    width: 20%
    border:1px solid black;
}

.nav li ul {
    position:absolute;
    display: none;
}

.nav li ul li {
    display: block;
}

.nav li:hover ul {
    display: block;
    position: relative;
}

.nav li> a {
  /* TODO set display and width so each link take 20% */
  display: inline-block;
  width: 30%;
  margin-right:-4px;
  padding: 2px 0;
  border: 1px #000;
  border-width: 0 0 0 1px;
    
  
  
  /* TODO align vertically at top */
  vertical-align: top;
  
  /* TODO white text color with transparent background color */
  color: white;
  background-color: 0;
  /* TODO sans-serif font with text align in center */
  font-family: sans-serif;
  text-align: center;
  
  
  /* TODO remove underline and make all uppercase */
  text-decoration: none;
  text-transform: uppercase;
}

/* TODO remove border of last link using :last-child selector */


/* add code for screen less than 341px */
@media (max-width: 341px) {
  .nav > a {
    /* TODO each link 100% width   */
    width: 100%;
    
    /* TODO only has bottom border  */
    border-width: 0 0 1px 0; 
   
  } 
  .nav > a:last-child{
    border-width: 0;
  }
}

/*Code above is all for navigation!*/
        



body {
  margin: 0;
  padding:10px 50px;
/*height: 100vh;*/
            height: 80vh;

  background: #ffca00 url("http://brezomadrid.es/Codepen-resources/img/pokedex-wallpaper.jpg") center bottom no-repeat;
  background-size: cover;
  font-family: 'Consolas', Arial;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes light {
  0% {
    background-color: #39beff4a;
    box-shadow: none;
  }
  50% {
    background-color: #39beff4a;
    box-shadow: 0 0 12px 8px white;
  }
  100% {
    background-color: #39beff4a;
    box-shadow: none;
  }
}