#mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: inline;
}

#menuItem {
    display: inline;
    width: 60px;
}
        
body {
  margin: 0;
  padding:10px 50px;
/*height: 100vh;*/
            height: 80vh;

  background: #ffca00 url("http://brezomadrid.es/Codepen-resources/img/pokedex-wallpaper.jpg") center bottom no-repeat;
  background-size: cover;
  font-family: 'Consolas', Arial;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes light {
  0% {
    background-color: #39beff4a;
    box-shadow: none;
  }
  50% {
    background-color: #39beff4a;
    box-shadow: 0 0 12px 8px white;
  }
  100% {
    background-color: #39beff4a;
    box-shadow: none;
  }
}